<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Bem-vindo ao Megaphone Online</h2>
		</div>

		<div class="col-lg-6"> 
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			    <%= f.input :email, required: false, autofocus: true, :label => "E-mail:" %>
			    <%= f.input :password, required: false, :label => "Senha:"  %>
			    <%= f.input :remember_me, as: :boolean, :label => "Lembre-se de mim" if devise_mapping.rememberable? %>
			    <%= f.button :submit, "Entrar", :class => "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-lg-6">
			<%- resource_class.omniauth_providers.each do |provider| %>
			    <%= link_to "Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
			<% end -%>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>