<p id="notice"><%= notice %></p>

<p>
  <strong>Data begin:</strong>
  <%= @occurrence.data_begin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @occurrence.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occurrence.description %>
</p>

<%= @occurrence.user.to_s %>
<%= @occurrence.latitude %>
<%= @occurrence.longitude%>

<% @occurrence.votes.each do |v|%>
	<%= v.vote %>
<% end -%>

<% @occurrence.photo_occurrences.each do |po|%>
	<%= image_tag po.photo(:original)%>
<% end -%>
<%= link_to 'Edit', edit_occurrence_path(@occurrence) %> |
<%= link_to 'Back', occurrences_path %>
