<!-- Modal -->
<div class="modal fade" id="modalOcorrencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mega Phone</h4>
      </div>
      <%= simple_nested_form_for(@occurrence) do |f| %>
      <div class="modal-body">
        <%= f.association :user, as: :hidden,input_html: {:value => current_user.id} %>
        <%= f.association :type, label: "Tipo de Ocorrência" %>
        <%= f.input :description, label: "Descrição" %>
        <%= f.input :status, input_html: {value: "Rascunho", disabled: "disabled"}%>
        <%= f.input :data_begin, as: :text, label: "Data Início" %>
        <%= f.input :date_end, as: :text, label: "Data Fim" %>
        <div id="photos">
          <%= f.fields_for :photo_occurrences do |po|%>
            <%= po.input :photo, as: :file, label: "Foto" %>
            <%= po.link_to_remove "Remover foto" %>
          <% end -%>
        </div>
        <%= f.link_to_add "Adicionar foto", :photo_occurrences, :data => { :target => "#photos" }, :class => "btn btn-primary btn-block"  %>
        <%= f.input :latitude, as: :hidden %>
        <%= f.input :longitude, as: :hidden %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Salvar Ocorrencia", :class=> "btn btn-success btn-block"%>
      </div>
      <% end -%>
    </div>
  </div>
</div>