<!-- Modal -->
<div class="modal fade" id="modalOcorrencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mega Phone</h4>
      </div>
      <%= simple_nested_form_for(@occurrence) do |f| %>
      <div class="modal-body">
        <%= f.association :user, as: :hidden,input_html: {:value => current_user.id} %>
        <%= f.association :type, label: "Tipo de Ocorrência" %>
        <%= f.input :description, label: "Descrição", :id => "description" %>
        <%= f.input :status, as: :hidden, input_html: {value: "Rascunho", disabled: "disabled"}, :id => "status" %>
        <%= f.input :data_begin, as: :text, label: "Data Início", :id => "data_begin" %>
        <%#= f.input :date_end, as: :text, label: "Data Fim", :id => "date_end" %>
        <div id="photos">
          <%= f.fields_for :photo_occurrences do |po|%>
            <%= po.input :photo, as: :file, label: "Foto" %>
            <%= po.link_to_remove "Remover foto" %>
          <% end -%>
        </div>
        <%= f.link_to_add "Adicionar foto", :photo_occurrences, :data => { :target => "#photos" }, :class => "btn btn-primary btn-block"  %>
        <%= f.input :latitude, as: :hidden, :id => "latitude" %>
        <%= f.input :longitude, as: :hidden, :id => "longitude" %>
        <div class="votes col-md-12">
          <div class="yes col-md-6">
            <div class="content">
              <%= image_tag('like-green', class: "pull-left") %>
              <%= f.fields_for :votes do |v| %>
          <%= v.input :vote, :as => :radio_buttons %>
          <%= v.link_to_remove "Remove this vote" %>
          <% end -%>
            </div>
          </div>  
          <div class="no col-md-6">
            <div class="content">
              <%= image_tag('like-red', class: "pull-right") %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Salvar Ocorrencia", :class=> "btn btn-success btn-block", :id=> "botaoSalvar" %>
      </div>
      <% end -%>
    </div>
  </div>
</div>