<!DOCTYPE html>
<html>
  <head>
    <title>Megaphone Online</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="<%= asset_url("logo.png")%>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places"
    async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body onload="initMap()">
    <%= yield %>
  </body>
</html>


